*{    
    margin:0px;
    padding:0px;
}

div#container{
    margin: auto;
    width: 80%;
    height: 100%;
    background-color: red;
}
div#form{
    margin-top: 5%;
    margin-left: 3%;
    float:left;
    background-color: white;
    width: 50%;
    height: 80%;
}
div#embbed{
    margin: 5%;
    margin-left: 0px;
    background-color: white;
    float: right;
    width: 42%;
    height: 80%;

}
.row1{
    height: 5%;
}
.col1{
    width: 20%;
    
}
.col2{
    width: 80%;
}
.tabla{
    width: 100%;
}